{% load static %}
<header class="fixed-top" id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarContent">
          <ul class="nav nav-pills mr-auto">
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}"
                 href="{% url 'about:author' %}">Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}"
                 href="{% url 'about:tech' %}">Технологии
              </a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'posts:post_create' %}active{% endif %}"
                   href="{% url 'posts:post_create' %}">Новая запись
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:password_change' %}active{% endif %}"
                   href="{% url 'users:password_change' %}">Изменить пароль
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}"
                   href="{% url 'users:logout' %}">Выйти
                </a>
              </li>
              <li class="nav-item text-light">
                <a class="nav-link link-light {% if view_name  == 'posts:profile' %}active{% endif %}"
                   href="{% url 'posts:profile' user.username %}">Пользователь: {{ user.username }}
                </a>
              <li>
                {% else %}
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}"
                   href="{% url 'users:login' %}">Войти
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}"
                   href="{% url 'users:signup' %}">Регистрация
                </a>
              </li>
            {% endif %}
          </ul>
        </div>}
      {% endwith %}
    </div>
  </nav>
</header>
<br>