{% extends "base.html" %}

{% block title %}{{ about_author }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1 class="text-center">Привет, я автор данного проекта.</h1>
    <div class="clearfix">
      <p>
        Меня зовут Роман. Я живу в Казахстане, в городе Алматы. Мне 26 лет.
      </p>
      <p>
        Когда-то давно, я учился на факультете "информационные системы", в надежде что в будущем стану программистом.
      </p>
      <p>
        Спустя 8 лет, я все же решил попробовать вернуться к тому, что изначально хотел, а именно работать в сфере
        разработки.
      </p>
      <p>
        Надеюсь Яндекс.Практикум поможем мне в этом.
      </p>
    </div>
  </div>
{% endblock %}