{% extends 'base.html' %}

{% block title %}Пост - {{ post.text|truncatechars:30 }}...{% endblock %}
{% block content %}
  {% load thumbnail %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}
            <li class="list-group-item">
              Группа: <a title="Все записи группы"
                         href="{% url 'posts:group_list' post.group.slug %}"> {{ post.group.title }}</a>
            </li>
          {% else %}
            <li class="list-group-item">
              <a style="color: red">У поста нет группы</a>
            </li>
          {% endif %}
          <li class="list-group-item">
            Автор: {{ post.author }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: <span>{{ post.author.posts.count }}</span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author.username %}">
              Все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-6">
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p class="text-xl-start">
          {{ post.text|linebreaksbr }}
        </p>
        {% if post.author == request.user %}
          <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
            Редактировать запись
          </a>
        {% endif %}
        {% include 'includes/comments.html' %}
      </article>
    </div>
  </div>
{% endblock %}
